<<<<<<< HEAD
/* aca comienza el footer */
=======
<<<<<<< HEAD
>>>>>>> feat/free-page
body {
	font-family: 'Roboto', sans-serif;
	
	
}
header {
    padding: 2rem;
    background-color: #37baec ;
	
    
}
ul {
    display: flex;
    justify-content: right;

}
li {
    list-style: none;

}
a {
    text-decoration: none;
    font-size: 1.1rem;
<<<<<<< HEAD
    color: #f1f1f1;
}
footer {
    background-color:#37baec;
	padding:20px;
}
a {
    text-decoration: none;
    font-size: 1.5rem;
=======
>>>>>>> feat/navbar
    color: #f1f1f1;
<<<<<<< HEAD
}
.icono {
	color: #393b3e;
}
.color 
{
	color: #676766;
}
/* aca termina el footer */
=======
=======
/* aqui comienza los estilos de la free-page */
.card-free-page {
    background-color:#d9d9d9;
    height: 200px;
    margin:  0 20px ;
>>>>>>> 8f761b75704d5dd075a45c419978637b124356bf
}
>>>>>>> feat/free-page
