*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
}
/* aqui comienza el footer */
body {
	font-family: 'Roboto', sans-serif;
	
	
}
header {
    padding: 2rem;
    background-color: #37baec ;
	
    
}
ul {
    display: flex;
    justify-content: right;

}
li {
    list-style: none;

}
a {
    text-decoration: none;
    font-size: 1.1rem;
    color: #f1f1f1;
}
footer {
    background-color:#37baec;
	padding:20px;
}
a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f1f1f1;
}
.icono {
	color: #393b3e;
}
.color 
{
	color: #676766;
}

/* aqui termina el footer */
.section-card{
	width: 100%;
	display: flex;

}
.card{
	width: 100%;
	margin: 20px;
	border-radius: 6px;
	overflow: hidden;
	background:#fff;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all 400ms ease-out;
}
.card:hover{
	box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
	transform: translateY(-3%);
}
.card img{
	width: 100%;
	height: 210px;
}
.conteiner-card{
	padding: 15px;
	text-align: center;
	
}
.conteiner-card h2{
	margin-bottom: 15px;
	color: #7a7a7a;
}
.conteiner-card p{
	text-align: start;
	line-height: 1.8;
	color: #6a6a6a;
	font-size: 14px;
	margin-bottom: 5px;
}

/*Formulario*/

.form-container h1 {
    text-align: center;
    padding: 10px;

}

.form-container {
    
    margin-bottom: 20px;
}

.row {
    margin-bottom: 20px;
}

.form-control-modified {
    width: 400px;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: lightgrey;
}

.add-space {
    margin-bottom: 20px;
}

.input-group-text {
    height: 50%;
}