body {
	font-family: 'Roboto', sans-serif;
	
	
}
header {
    padding: 2rem;
    background-color: #37baec ;
	
    
}
ul {
    display: flex;
    justify-content: right;

}
li {
    list-style: none;

}
a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #f1f1f1;
}

.card-thematic-page{
    background-color: #d9d9d9;
    margin-bottom: 50px;
}

main {
    padding: 0px 100px;
} 

iframe{
    margin: 20px;
    padding: 10px;
}

.maps{
    display: flex;
}

h1{
    margin-bottom: 40px;
    padding: 30px;
    text-align:center;
    color: #1A73E8;
}

h2{
     margin-bottom: 15px;
}

.list{
    margin: 40px;
}